# #############################################################################
# PLATFORM AND FILESYSTEM
# #############################################################################


# #############################################################################
# TOOLS
# #############################################################################

# IntelliJ
.idea/*
*.iml


# #############################################################################
# PROJECT OUTPUT
# #############################################################################
target/